* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

body {
    font-family: consolas;
}

.bg {
    background-image: url(https://snipboard.io/9CQHb2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 100px;
    width: 100%vw;
    background-color: rgba(176, 125, 49, 0.5);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2.5rem;
    
}

#header-img {
    width: 80px;
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'bodoni mt';
}

nav {
    width: 40%;
}

ul {
    height: 100%;
}

nav ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: 'bodoni mt';
    font-size: 21px;
}

a:hover {
    color: linen;
}

@media (max-width:850px) {
    nav ul {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
    }
}

#hero {
    text-align: center;
    font-size: 20px;
}


@keyframes hero {
    0% {left: -1000px;}
    100% {right: 0; opacity: 100%;}
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#email {
    height: 50px;
    width: 290px;
    font-size: 18px;
}

#submit {
    margin-top: 15px;
    height: 40px;
    width: 130px;
    background-color: rgba(176, 125, 49, 0.5);
    font-size: 15px;
}

#submit:hover {
    cursor: pointer;
}

.container {
    margin: 4rem auto;
    width: 75vw;
}

#features {
    margin-bottom: 5rem;
}

#features {
    animation-name: feature;
    animation-duration: 3s;
    position: relative;
    animation-fill-mode: forwards;
}

@keyframes feature {
    0% {left: -1000px; opacity: 0%;}
    50% {opacity: 50%}
    100% {left: 0; opacity: 100%;}
}

.feature-flex {
    display: flex;
    margin-bottom: 3rem;
}


.fire {
    padding-right: 24px;
}

.icon {
    align-self: center;
    margin-right: 2rem;
    transition-property: transform;
    transition-duration: 1s;
}

.icon:hover {
    transform: rotateY(180deg);
    color: rgba(176, 125, 49, 0.8);
}

.feature-description h3 {
    font-size: 24px;
}

.feature-description p {
    background-color: rgba(176, 125, 49, 0.6);
    border: 2px solid black;
    font-size: 20px;
    line-height: 25px;
    padding: 2rem;
}

#how-it-works {
    display: flex;
    margin-bottom: 5rem;
}

#pricing {
   width: 100%;
   display: flex;
   justify-content: space-around;
}

@media(max-width:900px) {
    #pricing {
        flex-direction: column;
        align-items: center;
    }

    #pricing > div {
        margin-bottom: 7rem;
        
    }    
}

#pricing > div {
    border: 1px solid black;
    background-color: rgba(176, 125, 49, 0.6);
    width: 300px;
    line-height: 30px;
    text-align: center;
}

.product-title, #pricing h2 {
    font-size: 26px;
}

#pricing h2 {
    padding: 10px;
}

.product-title {
    background: rgba(176, 125, 49, 0.6);
    border-bottom: 2px solid black;
    text-align: center;
    padding: 10px;
}

#pricing p {
    font-size: 20px;
}

.btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
    padding: 5px;

}

footer {
    height: 100px;
    width: 100%;
    background-color: rgba(176, 125, 49, 0.6);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}






 